<!-- templates/request/04-location.html -->
{% extends 'base.html' %}

{% block title %}Place a Request{% endblock %}

{% block navigation %}{% include 'navigation.html' %}{% endblock %}

{% block content %}
<style>
	.whole{
		display: inline-block;
		top: 25%;
		left: 5%;
		font-family: "Open Sans", sans-serif;
		font-size: 20px !important;
		padding-left:100px;
		padding-top:150px;
		color: #CECECE;
		padding-bottom:200px;
	}
	
	.colour h1{color: #CECECE;}
	
	.colour h2{color: #CECECE;}
	
	.colour h3{color: #CECECE;}
	
	.colour h4{color: #CECECE;}
	
	.bg{
		background-image: url('/static/images/bg-01.jpg');
		width:100%;
	}
	
	.button_part button{
		border-radius: 20px;
		height: 50px;
		width: 100px;
		background-color: #343a40;
		color: #FFFFFF;
		font-size: 20px;
		margin-top: 40px;
		cursor: pointer;
	}
</style>

<div class="bg">
	<div class= "whole">
		<form action="{% url 'request:controller' %}" method="post">
			{% csrf_token %}
			
			<input type="hidden" name="stage" value="04"/>
			
			<div class="colour">
				<h1>Place a Request</h1>
				
				<h2>Where do you want to stay?</h2>
				<h3>City</h3>
				<input type="text" name="city" placeholder='e.g. Surry Hills' required><br>
				<br>
				
				<h3>State</h3>
				<input type="text" name="state" placeholder='e.g. NSW' required><br>
				<br>
				
				<h3>Neighbourhood</h3>
				<input type="text" name="neighbourhood" placeholder='e.g. Bondi Beach' required><br>
			</div>
			
			<div class="button_part">
				<button name="navigation" type="submit" value="back" class="btn btn-success btn-large"> Back</button>
				<button name="navigation" type="submit" value="next" class="btn btn-success btn-large">Next</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}