<!-- templates/advertising/step1-06-spaces.html -->
{% extends 'base.html' %}

{% block title %}Step 1: Start with the basics{% endblock %}

{% block navigation %}{% include 'navigation.html' %}{% endblock %}



{% block content %}
<style>
	.whole{
			top: 25%;
			left: 5%;
			font-family: "Open Sans", sans-serif;
			font-size: 20px !important;
			margin-top: 150px;
			/* text-align: left; */
			padding-left:100px;
			padding-top:5px;
			color: #CECECE;
			padding-bottom:200px;
			display: inline-block;
		}
	
		.button_part button{
			border-radius: 20px;
			height: 50px;
			width: 100px;
			background-color: #388af5;
			color: #FFFFFF;
			font-size: 20px;
			margin-top: 40px;
		}
		.colour h3{color: #CECECE;}
		.colour h4{color: #CECECE;}
		.colour h1{color: #CECECE;}
		.colour h2{color: #CECECE;}
		.bg{
			background-image: url('/static/images/bg-01.jpg');
			width:100%;
		}
	
	.button_part button{
		border-radius: 20px;
		height: 50px;
		width: 100px;
		background-color: #343a40;
		color: #FFFFFF;
		font-size: 20px;
		margin-top: 40px;
		cursor: pointer;
	}
	.colour span {
			color: #CECECE;
			margin-left: 10px;
			margin-top: 8px;
		}
</style>
<div class="bg">
<div class="whole">
	<form action="{% url 'advertising:controller' %}" method="post">
		{% csrf_token %}
		
		<input type="hidden" name="stage" value="1-06"/>
		<div class="colour">
		<h1>Step 1: Start with the basics</h1>
		<h2>What spaces can guests use?</h2>
		<input type="checkbox" name="access" value="Pool"><span>Pool</span><br>
		<input type="checkbox" name="access" value="Kitchen"><span>Kitchen</span><br>
		<input type="checkbox" name="access" value="Laundry – washer"><span>Laundry – washer</span><br>
		<input type="checkbox" name="access" value="Laundry – dryer"><span>Laundry – dryer</span><br>
		<input type="checkbox" name="access" value="Parking"><span>Parking</span><br>
		<input type="checkbox" name="access" value="Lift"><span>Lift</span><br>
		<input type="checkbox" name="access" value="Hot tub"><span>Hot tub</span><br>
		<input type="checkbox" name="access" value="Gym"><span>Gym</span><br>
		</div>
		<div class="button_part">
			<button name="navigation" type="submit" value="back"class="btn btn-success btn-large">Back</button>
			<button name="navigation" type="submit" value="next"class="btn btn-success btn-large">Next</button>
		</div>
	</form>
</div>
</div>
{% endblock %}