<!-- templates/advertising/step1-03-bathrooms.html -->
{% extends 'base.html' %}

{% block title %}Step 1: Start with the basics{% endblock %}

{% block navigation %}{% include 'navigation.html' %}{% endblock %}



{% block content %}
<style>
	.whole{
			top: 25%;
			left: 5%;
			font-family: "Open Sans", sans-serif;
			font-size: 15px !important;
			margin-top: 150px;
			/* text-align: left; */
			padding-left:100px;
			padding-top:5px;
			color: #CECECE;
			padding-bottom:200px;
			display: inline-block;
			margin-bottom: 200px;
		}
		.colour h3{color: #CECECE;}
		.colour h4{color: #CECECE;}
		.colour h1{color: #CECECE;}
		.colour h2{color: #CECECE;}
		.bg{
			background-image: url('/static/images/bg-01.jpg');
			width:100%;
		}
	
	.button_part button{
		border-radius: 20px;
		height: 50px;
		width: 100px;
		background-color: #343a40;
		color: #FFFFFF;
		font-size: 20px;
		margin-top: 40px;
		cursor: pointer;
	}
</style>
<div class="bg">
<div class='whole'>
	<form action="{% url 'advertising:controller' %}" method="post">
		{% csrf_token %}
		
		<input type="hidden" name="stage" value="1-03"/>
		
		<div class="colour">
			<h1>Step 1: Start with the basics</h1>
			<h4>Bathrooms</h4>
			<input type="text" name="bathrooms" value="{{ request.session.bathrooms|default:'1' }}"><br>
		</div>
		
		<div class="button_part">
			<button name="navigation" type="submit" value="back"class="btn btn-success btn-large">Back</button>
			<button name="navigation" type="submit" value="next"class="btn btn-success btn-large">Next</button>
		</div>
	</form>
</div>
</div>
{% endblock %}